body {
    background-color: whitesmoke;
  }
  
  #contenedor {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 700px;
    margin: 50px auto;
    padding: 20px;
  }

  img{
    height:auto;
    width: 150px;
  }
  
  #header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    color: #3d3d3d;
  }
  
  /* Etiquetas y entradas de texto */
  label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display: block;
    margin-top: 10px;
    color: #555;
  }
  
  input {
    width: 70%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilo para el botón */
  #btnCalcular {
    background-color: rgb(247, 150, 150);
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  #btnCalcular:hover {
    background-color: #db3232;
  }
  
  #imc {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
  }
  
  center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


li{
  display:flex;
    
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #555;
    font-size: 20px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

#section{
    width: 70%;
    float: left;
    background-color: #f4eded;

}

#aside{
    margin-top: 100px;
    margin-right: 50px;
    width: 20%;
    float: right;
}