body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  #contenedor {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
  }
  
  header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #333;
  }

  header h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #333;
  }
  
  /* Etiquetas y entradas de texto */
  label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    display: block;
    margin-top: 10px;
    color: #555;
  }
  
  select{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    margin-top: 9px;
    color: #555;
  }
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilo para el botón */
  #btnCalcular {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }

  #btnLimpiar {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  #btnCalcular:hover {
    background-color: #0056b3;
  }

  #btnLimpiar:hover {
    background-color: #0056b3;
  }
  
  footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #555;
  }