body {
    background-color: #add8e6;
    text-align: center;
    font-family: Arial, sans-serif;
}

#contenedor {
    background-color: #c0c0c0;
    padding: 20px;
}

#header {
    width: 100%;
    background-color: #5f9da1;
    padding: 10px 20px;
    margin-left: -20px;
    margin-top: -20px;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
}

#btnGenerar {
    background-color: #5f9da1;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#section {
    width: 30%;
    height: 420px;
    background-color: #49515c;
    padding: 10px;
    float: left;
    margin-left: 20px;
    /* margin-right: 900px; // Eliminado */
    /* margin-top: 80px; // Eliminado */
}

#aside {
    width: 60%;
    background-color: #5f9da1;
    padding: 10px;
    float: right;
    /* margin-left: 1000px; // Eliminado */
    /* margin-top: -525px; // Eliminado */
    /* margin-bottom: 50px; // Eliminado */
}

#footer {
    width: 100%;
    background-color: #5f9da1;
    padding: 15px 20px;
    margin-top: 20px;
    margin-bottom: -20px;
    font-size: 18px;
    margin-right: -20px;
    color: white;
    float: inline-end;
}

label {
    font-weight: bold;
    color: #ffffff;
}

.input-1{
    width:120px;
    color: #000;
    padding: 5px;
    margin: 5px 10px;
    border: 1px solid #b0e0e6;
}

select{
    width: 80%;
    padding: 5px;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #778899;
    padding: 20px;
}

input {
    width: 95%;
    padding: 5px;
    margin-right: 5px;
    margin: 5px 0;
    border: 1px solid #b0e0e6;
}
