#contenedor {
    width: 500px;
    text-align: center;
    background-color: rgb(210, 225, 239);
}
.a {
    font-family: monospace;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 10px;

}

body{
    background-color: aliceblue;
}

#header {
    font-family: monospace;
    font-size: 15px;
    color: rgb(43, 50, 56);
}