body{
    background-color: rgb(228, 231, 231);
    text-align: center;
}
img {
    width: 100px;
    height: 100px;
}

#contenedor {
    width: 900px;
    text-align: center;
    background-color: white;
}
#header {
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(234, 180, 180);
}

.label {
    font-family: monospace;
    font-size: 20px;
    padding: 5px;

}

#btnCalcular {
    background-color: rgb(234, 180, 180);
    font-family: monospace;
    font-size: 20px;
    width: 160px;
    height: 40px;
    color: #000;
    margin-left: 10px;
    margin-top: 15px;
    border: white;
}

select {
    width: 50px;
    font-family: monospace;
    font-size: 20px;
}

#footer {
    background-color: rgb(234, 180, 180);
    font-family: monospace;
    width: 100%;
    color: white;
    height: 10%;
    font-size: 20px;
}